*{
    text-align: center;
}
table,th,td{
     margin-top: 20%;
    margin-top: 7vh;
    margin-bottom: 22vh;
    margin-left: auto;
    margin-right: auto;
}
th{
    align-items: center;
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
    background-color: skyblue;
    
}